* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.card {
    display: inline-block;
    width: 300px;
    background-color: #F3F3F3;  
    border-radius: 1rem;
    font-size: 15px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0 5px 4px #c4c4c4;

}

.card-bg {
    height: 195px;
    background-image: url('../img/batman-bg.png');
    background-repeat: no-repeat;
    padding: 1rem;
}
.card-bg.harley {
    background-image: url('../img/harley-bg.png');
}

.card-bg i {
    font-size: 2rem;
    color: #CC2424;
}

.card-content {
    position: relative;
    text-align: center;
    padding: 4rem 1.5rem 0;
}

.card-img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    border-radius: 50%;
    box-shadow: 0 5px 4px #ccc;
}

.card-content h3 {
    font-size: 2em;
}

.card p {
    font-family: 16px;
    color: #333;
    text-align: start;
    margin-block: 1rem;
}

.card button {
    width: 128px;
    color: #F3F3F3;
    background-color: #00669F;
    padding: 16px 0;
    border: none;
    font-size: inherit;
}